.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* html {
  scroll-behavior: smooth;
} */
