:root {
  /* Основные цвета */
  --text-color: #fff; /* Основной цвет */
  --col1: #640000; /* Основной цвет */
  --col2: #480001; /* Основной цвет */
  --col3: #1f0b0a; /* Основной цвет */
  --col4: #131812; /* Основной цвет */
  --col5: #1b251d; /* Основной цвет */
  --col6: #263226; /* Основной цвет */
}
